@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --cor-preto: #101828;
  --cor-cinza: #667085;
  --cor-vermelho: #8E2424;
  --cor-branco: #FFFFFF;
  --cor-cinza-borda: #EAECF0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--cor-cinza);
}

body {
  width: 100%;
  height: 100vh;
}

/* CABEÇALHO */
.cabecalho {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.cabecalho__links a {
  text-decoration: none;
  margin-right: 2rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

button {
  padding: 0.6rem 1.1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.signup {
  background: var(--cor-vermelho);
  color: var(--cor-branco);
}

/* SEÇÃO SOBRE NÓS */
.sobre__nos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding: 6rem 0;
}

.sobre__nos h4 {
  color: var(--cor-vermelho);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.sobre__nos h1 {
  color: var(--cor-preto);
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}

.sobre__nos p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  max-width: 50%;
}

/* SEÇÃO MÉTRICAS E RESULTADOS */
.metricas {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 9rem 6rem 9rem;
}

.metricas div {
  width: 17.5rem;
  height: 10rem;
}

.metricas h2 {
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  color: var(--cor-vermelho);
}

.metricas h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--cor-preto);
}

.metricas p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* SEÇÃO VAGAS */
.talentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 1rem 0 1rem;
  gap: 1rem;
}

.talentos h4 {
  color: var(--cor-vermelho);
  background: rgba(142, 36, 36, 0.05);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.talentos h2 {
  color: #101828;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.talentos p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.talentos img {
  margin-top: 2rem;
  width: 80%;
}

/* SEÇÃO VAGAS ABERTAS */
.vagas__abertas {
  display: flex;
  flex-direction: column;
  padding: 2rem 21rem 6rem 21rem;
  font-weight: 500;
}

.vagas__abertas h2 {
  color: var(--cor-preto);
  font-size: 20px;
  line-height: 30px;
  margin: 2rem 0;
}

.vaga {
  border: 1px solid var(--cor-cinza-borda);
  border-radius: 1rem;
  padding: 1.5rem 1.75rem;
  margin-bottom: 1.5rem;
}

.vaga h3 {
  color: var(--cor-preto);
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 2rem;
}

.vaga__informacoes {
  display: flex;
  gap: 1.5rem;
}

.vaga__informacoes p {
  font-size: 16px;
  line-height: 24px;
}

/* SEÇÃO DEPOIMENTOS */
.depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 2rem;
  max-width: 80%;
  margin: 0 auto;
  background-color: rgba(195, 25, 25, 0.05);
  border-radius: 1rem;
}

.depoimentos h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--cor-vermelho);
  margin-bottom: 1rem;
}

.depoimentos h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: var(--cor-preto);
  margin-bottom: 2rem;
}

.depoimentos img {
  margin-bottom: 1rem;
}

.depoimentos h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--cor-preto);
  margin-bottom: 0.25rem;
}

.depoimentos p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}