@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --cor-preto: #101828;
  --cor-cinza: #667085;
  --cor-vermelho: #8E2424;
  --cor-branco: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--cor-cinza);
}

body {
  width: 100%;
  height: 100vh;
}

/* CABEÇALHO */
.cabecalho {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.cabecalho__links a {
  text-decoration: none;
  margin-right: 2rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

button {
  padding: 0.6rem 1.1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.signup {
  background: var(--cor-vermelho);
  color: var(--cor-branco);
}

/* SEÇÃO SOBRE NÓS */
.sobre__nos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding: 6rem 0;
}

.sobre__nos span {
  color: var(--cor-vermelho);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.sobre__nos h1 {
  color: var(--cor-preto);
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}

.sobre__nos p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  max-width: 50%;
}